<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <style>
            body {
                background: #41f1f5;
            }
            @page {

                margin-top: 3.3cm;
                margin-left: 2cm;
                margin-right: 2cm;
                margin-bottom: 3.3cm;

                size: A4 portrait;
            }
        </style>
    </head>
    <body>
        <h1>Hi! My name is [[${name}]]!</h1>
        <h1>Hi! My name is [[${name}]]!</h1>
    </body>
</html>

